* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-text-gris: rgb(56, 52, 52);
    --color-text-white: rgb(231, 225, 225);
    --shadow:  5px 5px 15px 5px #000000;

}
/********** Structures *********/

.container {
    width: 90%;
    margin: auto;
}

html,
body {
    background-color: var(--color-text-white);
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5em;
    font-style: italic;
    text-transform: capitalize;
    color: var(--color-text-gris);
    padding-bottom: 1em;
}

h2 {
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3em;
}

h3 {
    font-size: 2em;
}

li {
    text-transform: uppercase;
}

a { 
    text-decoration: none;
    color: black;
}
/********* NAVBAR ********/
.navbar {
    background: rgb(56, 52, 52);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    text-decoration: none;
    color: yellow;
    font-size: 1.5em;
    font-style: italic;
    margin: 1em 0;
}

.navbar-list {
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
}

.navbar-list a, li {
    list-style: none;
    text-decoration: none;
    color: var(--color-text-white);
    font-size: 1.2em;
}

.navbar-list a:hover {
    color: yellow;
}

.navbar-burger {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: var(--color-text-white);
    border-radius: 15px;
    position: relative;
    transition: all .4s ease-in-out;
}

.navbar-burger::before,
.navbar-burger::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: var(--color-text-white);
    border-radius: 15px;
    transition: all .4s ease-in-out;
    position: absolute;
}

.navbar-burger::before {
    top: 8px;
}

.navbar-burger::after {
    top: -8px;
}

.link-burger {
    display: none;
}

.link-burger.open .navbar-burger {
    background: transparent;
}

.link-burger.open .navbar-burger::after {
    top: 0;
    transform: rotate(45deg);
}

.link-burger.open .navbar-burger::before {
    top: 0;
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .link-burger {
        display: inline-block;
    }

    .navbar-links ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--color-text-gris);
        color: var(--color-text-white);
        gap: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: transform .4s ease-in-out;
    }

    .navbar-links ul li {
        width: 100%;
        text-align: center;
        padding: 1em 0;
    }

    .navbar-links ul li{
        border: 1px solid var(--color-text-white);
    }

    .navbar-links ul.open {
        transform: scaleX(1);
    }
}

/*********** BANNER **************/
.banner {
    background-image: url('../img/computer.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
    display: flex;
    text-align: center;
    align-items: center;
}

.ban-row {
    width: 70%;
}

.banner p {
    color: var(--color-text-gris);
    font-size: 4em;
    margin-bottom: 1.5em;
}

.btn {
    padding: 1em;
    text-decoration: none;
    color: var(--color-text-white);
    background-color: rgb(190, 190, 8);
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px #000000;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.btn:hover {
    background-color: rgb(116, 116, 4);
}

@media screen and (max-width:768px){
    .ban-row {
        width: 100%;
    }
    h1 {
        padding-top: 1em;
        padding-bottom: 0;
    }
    .banner p {
        font-size: 2em;
    }
    .btn {
        display: block;
        width: 50%;
        margin: auto;
        font-size: 1em;
    }
}

/********** SERVICES *************/
.services-row {
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.services-row h3 {
    margin-top: 1em;
}

.services-card {
    position: relative;
    text-align: center;
    width: 15%;
}

.services p{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

.services-img {
    width: 100px;
    position: relative;
    z-index: 1;
}

.services-form {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate( -50%);
    z-index: 0;
}

.services-img-2 {
    width: 70px;
    margin-top: 1.2em;
    position: relative;
    z-index: 1;
}

.services-img-3 {
    width: 70px;
    margin-top: 1em;
    position: relative;
    z-index: 1;
}

@media screen and (max-width:768px){
    .services-row {
        display: block;
    }
    .services-card {
        width: 100%;
    }
    .services-form {
        left: 50%;
    }    
}

/********* PORTOFOLIO **********/
.portfolio p {
    text-align: center;
    font-style: italic;
    margin: 2em 0;
}
.portfo-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfo-card {
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin: auto;
    position: relative;
}

.img-cont {
    width: 300px;
    height: 200px;
    overflow: hidden;
    background: yellow;
}

.img-cont::after {
    content: "";
    display: block;
    width: 15%;
    height: 2%;
    background: var(--color-text-white);
    border-radius: 25px;
    position: absolute;
    top: 30%;
    left: 42%;
    z-index: 0;
}

.img-cont::before {
    content: "";
    display: block;
    width: 15%;
    height: 2%;
    background: var(--color-text-white);
    border-radius: 25px;
    position: absolute;
    transform: rotate(90deg);
    top: 30%;
    left: 42%;
    z-index: 0;
}

.portfo-img {
    width: 100%;
    height: 200px;
    position: absolute;
    background-size: cover;
    transition: all .4s ease-in-out;
    top: 0;
    left: 0;
    z-index: 1;
}

.portfo-img:hover {
    opacity: 0.2;   
}

.portfo-img-2 {
    width: 120%;
    position: absolute;
    top: 0;
    left: -10%;
}

.portfo-card h3 {
    margin-top: 1em;
}
@media screen and (max-width:768px){
    .portfo-column {
        display: block;
    }
    .portfo-card {
        width: 100%;
    }

}

/*************** ABOUT **************/
.about p {
    text-align: center;
    margin: 2em 0;
}

.about-1 {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    position: relative;
}

.about-text {
    width: 70%;
    text-align: center;
    margin-left: auto;
    padding-right: 3em;
    padding-top: 3em;
}

.about-cont {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.about-form-1 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(151, 147, 147);
    z-index: 0;
}

.about-form-1::after {
    content: "";
    display: block;
    width: 6px;
    height: 200%;
    background-color: rgb(151, 147, 147);
    position: absolute;
    left: 50%;
    top: 70%;
    z-index: 0;
}

.about-img {
    position: absolute;
    height: 100%;
    left: -40%;
}

.about-cont-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.about-img-2 {
    height: 100%;
    position: relative;
}

.about-text-2 {
    width: 70%;
    text-align: center;
    margin-right: auto;
    padding-left: 3em;

}

.about-text-2 h4 {
    padding-top: 3em;
}

.about-img-3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    margin: auto;
    margin-top: 5em;
    position: relative;
}

.about-form-2 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(151, 147, 147);
    z-index: 0;
}

@media screen and (max-width:768px) {
    .about-1 {
        display: block;
    }
    .about-cont,
    .about-form-1,
    .about-cont-2,
    .about-form-2,
    .about-img-3 {
        display: none;
    }
    .about-text,
    .about-text-2 {
        padding: 0;
        width: 100%;
    }
}

/************* TEAM **********/
.team h3 {
    margin-top: 2em;
}
.team p{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}
.team-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.team-card {
    width: 25%;
    position: relative;
}

.team-form {
    position: absolute;
    width: 80%;
    height: 53%;
    top: -3%;
    left: 10%;
    background-color: rgb(151, 147, 147);
    z-index: 0;
    border-radius: 50%;
}

.team-img {
    border-radius: 50%;
    width: 70%;
    position: relative;
}

.team-icon {
    font-size: 3em;
}

.faceb {
    padding-right: 1em;
}

.linked {
    padding-left: 1em;
}

@media screen and (max-width:768px) {
    .team-card {
        width: 100%;
    }
    .team-form {
        height: 46%;
    }
    .team-icon {
        margin-bottom: 1em;
    }
}
/*********** FORMULAIRE ************/
.formulaire {
    background-image: url('../img/worldmap.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.formulaire h2 {
    padding: 1em;
    margin-top: 0;
}

.formulaire p {
    text-align: center;
    padding-bottom: 2em;
}

.formulaire input,
.formulaire textarea {
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.form-contact {
    width: 45%;
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
   
}

.form-contact input {
    border-radius: 5px;
    border: 1px;
    box-shadow: var(--shadow);
}

.form-contact-2 {
    width: 45%;
}

.form-contact-2 textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px;
    box-shadow: var(--shadow);
}

.btn-form {
    padding: 1em .5em;
    background-color: yellow;
    color: var(--color-text-gris);
    border-radius: 15px;
    border: 1px;
    box-shadow: var(--shadow);
    display: block;
    margin: auto;
    margin-top: 3em;
    transition: all .4s ease;
    margin-bottom: 3em;
    cursor: pointer;
}

.btn-form:hover {
    background-color: rgb(116, 116, 4);
    color: var(--color-text-white);
}

@media screen and (max-width: 768px) {
    .form-row {
        display: block;
        width: 90%;
        margin: auto;
    }
    .form-contact,
    .form-contact-2 {
        width: 100%;
    }
    .form-contact-2 {
        margin-top: 1em;
    }
}
/*********** FOOTER *************/
.foot-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-icon {
    display: block;
    margin: 1em;
    font-size: 2em;
}

.foot-link-a-1 {
    padding-right: 1em;
}

.foot-link-a-2 {
    padding-left: 1em;
}

.foot-link {
    gap: 2em;
}

.foot-icon-1 {
    padding-right: 1em;
}

.foot-icon-2 {
    padding-left: 1em;
}

@media screen and (max-width: 768px) {
    .foot-row {
        display: block;
        text-align: center;
    }
}